@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: oklch(21.6% 0.006 56.043);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 18px;
}

.input-neo {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

.internal-neo {
  border-radius: 3px;
  box-shadow: inset 9px 9px 18px var(--shadow-color),
    inset -9px -9px 18px var(--box-shadow);
}

.outer-neo {
  border-radius: 3px;
  box-shadow: 9px 9px 18px #161412, -9px -9px 18px #221e1c;
}

/* button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* button {
    background-color: #f9f9f9;
  } */
}
